pandas
plotly
bokeh
graphviz
requests
matplotlib
numpy
scipy
altair>=5.0.0
pydeck
Faker
openai
vega_datasets
https://core-previews.s3-us-west-2.amazonaws.com/pr-9557/streamlit-1.38.0-py2.py3-none-any.whl
