.code-tile {
    padding: 1em;
    background:$white;
    color: $gray-90;
    border:1px solid $gray-50;

    h1,h2,h3,h4,h5,h6 {
        margin:0;
        color:inherit !important;
        margin-bottom:1em;
    }
    p,a {
        margin-top:1em;
        color:inherit !important;
        margin-bottom:.25em;
    }

    &.featured {
        background:$gray-70;
        color:white;
        border-radius: $rounded-small;
        border:0;
        margin-bottom: 1em;
    }

}