.code-tile {
    color: $gray-90;
    border-bottom: 1px solid $gray-30;
    margin-bottom: 1rem;

    button {
        display: none;
    }

    .block-code {
        margin: 0;

        pre.line-numbers {
            margin: 0;
            padding: 0;
            padding-bottom: 1.75rem;
            font-size: .8rem;
            overflow-x: auto;
        }

        // If there's a p tag between code blocks, add a bit more separation between elements
        & ~ p {
            margin-top: 1rem;
        }
    }

    h1, h2, h3, h4, h5, h6, p {
        margin:0;
        margin-bottom: .25rem;
        line-height: 1.2;

        // Put links closer to titles when both are present
        & ~ p a {
            position: relative;
            top: -.5rem;
        }
    }
}