.code-tile {
    color: $gray-90;
    border-radius: $rounded-small;

    .block-code {
        margin: 0;
        margin-bottom: 1.75rem;

        pre.line-numbers {
            margin: 0;
            padding: .75rem 1rem;
            font-size: .8rem;
        }

        // If there's a p tag between code blocks, add a bit more separation between elements
        & ~ p {
            margin-top: 1rem;
        }
    }

    h1, h2, h3, h4, h5, h6, p {
        margin:0;
        margin-bottom: .25rem;
        line-height: 1.2;

        // Put links closer to titles when both are present
        & ~ p a {
            position: relative;
            top: -.5rem;
        }
    }
}