.code-tile {
    color: $gray-90;
    border-radius: $rounded-small;

    .block-code {
        margin: 0;

        pre.line-numbers {
            margin: 0;
            padding: .75rem 1rem;
            font-size: .8rem;
        }
    }

    h1, h2, h3, h4, h5, h6, p {
        margin:0;
        margin-bottom: .25rem;
        line-height: 1.2;

        & ~ p {
            position: relative;
            top: -.5rem;
        }
    }
}