.block-icon-header {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1em;

  a,
  p,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: unset;
  }

  .material-icons-sharp {
    font-size: 0.95em;
    border-radius: 100%;
    padding: 0.5em;
    margin-right: 0.5em;
    user-select: none;
  }
}
