.block-image {
  display: inline-block;
  margin-bottom: 2em;

  &.clean {
    .image {
      img {
        &:hover {
          cursor: default;
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }

  .block-note {
    max-width: 100%;
    width: auto;
    margin-left: unset;
  }
  .image {
    img {
      max-width: 100%;
      transition: $normal;

      &:hover {
        cursor: pointer;
        opacity: 0.75;
        transform: scale(1.005);
      }
    }
    p {
      padding: 1em;
    }
  }
  .light-box {
    position: fixed;
    z-index: 100; // Higher than the header
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overscroll-behavior: contain;

    .content {
      width: 90%;
      display: flex;
      flex-direction: column;
      max-height: 90vh;

      img {
        &.has-caption {
          margin-bottom: 1em;
        }
        transition: $normal;
        z-index: 1;
        object-fit: contain;
      }
      p {
        text-align: center;
        padding: 1em;
      }
    }

    &:before {
      position: fixed;
      width: 100%;
      height: 100%;
      content: "";
      z-index: -1;
    }
    button {
      font-family: "Material Icons";
      font-weight: normal;
      font-style: normal;
      font-size: 3em;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: "liga";
      -webkit-font-smoothing: antialiased;
      content: "close";
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      background: transparent;
      border: none;
      z-index: 10; // Higher than the image.

      &:hover {
        opacity: 0.5;
        box-shadow: none;
        transform: scale(0.95);
      }
      &:before,
      &:after {
        content: "";
        height: 0;
      }
    }
  }
  @media (max-width: 1024px) {
    .block-note {
      margin: 0;
      padding: 0;
      background: transparent;
      width: 100% !important;

      .image {
      }
    }
  }
}
