.block-image {
    display: inline-block;
    margin-bottom: 2em;

    &.clean {
        .image {

            img {

                &:hover {
                    cursor: default;
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }

    .block-note {
        max-width:100%;
        width:auto;
        margin-left: unset;
    }
    .image {
        img {
            margin-bottom: 1em;
            max-width:100%;
            transition:$normal;

            &:hover {
                cursor: pointer;
                opacity:.75;
                transform:scale(1.005);
            }
        }
    }
    .light-box {
        position:fixed;
        z-index: 100;  // Higher than the header
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .content {
            width:90%;
            display: flex;
            flex-direction: column;
            max-height: 90vh;

            img {
                margin-bottom: 1em;
                transition:$normal;
                z-index: 1;
                object-fit: contain;
            }
            p {
                text-align: center;
            }

        }

        &:before {
            position: absolute;
            width: 100%;
            height: 100%;
            content: '';
            z-index: -1;
        }
        button {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 3em;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
            content:'close';
            position: absolute;
            top:1rem;
            right:1rem;
            cursor: pointer;
            background: transparent;
            border: none;
            z-index: 10;  // Higher than the image.

            &:hover {
                opacity: .5;
                box-shadow: none;
                transform: scale(.95);
            }
            &:before,&:after {
                content:'';
                height:0;
            }
        }

    }

    .fade-enter-active, .fade-leave-active {
        transition: $normal;
    }
    .fade-enter, .fade-leave /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
        .content, button {
            transform: scale(.85);
        }
    }
}
