.block-inline-callout {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid $gray-30;

  a {
    font-weight: bold;
  }

  .icon-box {
    display: flex;
    align-items: center;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 0;
    border-radius: $rounded-small;

    i {
      font-size: 2em;
      color: white;
    }
  }

  @media screen and (max-width: 560px) {
    align-items: flex-start;
  }
}
