.leaf-page {
    .content {
        table:not(.full-width) {
            width: 100%;
            border-collapse: collapse;

            thead, tbody {
                tr {
                    th, td {
                        padding: .75rem 0;
                        border-top: 1px solid $gray-20;
                        font-size: .8rem;
                        line-height: 1.3;
                        color: $gray-90;
                    }
                }
            }
        }
    }
}