.block-news-entry {
    margin-bottom:1em;
    padding-bottom: 1em;
    border-bottom:1px solid $gray-40;

    time {
        color: $gray-70;
    }

    h4 {
        margin:.5em 0;
    }

    .block-arrow-link {
        text-transform: uppercase;
        color:$red-70;
        font-weight:900;

        &:hover {
            svg {
                transform:  scale(1.1);
                margin-left: .75em;
            }
        }

        svg {
            right:0em;
            width:.75em;
            margin-left:.5em;
            transition:$fast;

            path {
                fill:$red-70;
            }

        }
    }
}
