.block-note {
    width: calc(100% + 4em);
    padding: 2em;
    margin-left: -2em;
    border-radius: $rounded-small;

    a,p,li,h1,h2,h3,h4,h5,h6 {
        color: unset !important;
    }

    @media(max-width:1024px) {
        width: calc(100% - 4em) !important;
        margin-left: 0;
        // width: 100%!important;
    }
}