.reference-card {
    padding: 0;
    color: $gray-90;
    border-bottom: 1px solid $gray-30;
    overflow: hidden;
    font-size: 16px;
    cursor: pointer;
    transition: transform $fast;
    display: flex;
    flex-direction: column;

    &:hover {
      transform: scale(1.01)
    }

    h1,h2,h3,h4,h5,h6 {
        margin:0;
        color:inherit !important;
        margin-bottom:.25em;
        margin-top: 1rem;
        line-height: 1.2;
    }
    img {
        border-radius: .5rem;
    }
    p,a {
        margin-bottom: 0;
        font-weight: 300;
        font-size: .875em;
    }

    .block-code {
        width: calc(100% + 2rem);
        position: relative !important;
        margin:1rem 0 -1rem -1rem;
        font-size: 0.875em;
        display: flex;
        flex-direction: column;
        flex: 1;

        button {
            display: none;
        }

        .code-toolbar {
          display: flex;
          flex-direction: column;
          flex: 1;
        }

        pre {
            margin:0;
            border-radius: 0;
            padding: 1rem;
            padding-top: 0;
            flex: 1;
            background-color: transparent;
        }
    }

}
