.table-parent {
    width:100%;
    overflow: auto;

    table {
        border:1px solid $gray-40;
        border-radius: $rounded-small;
        text-align: left;
        border-spacing: 0;
        margin-bottom:2em;

        &.full-width {
            width: 100%;
        }

        thead {
            .title {
                border-top-left-radius: calc(#{$rounded-small} - 1px);
                border-top-right-radius: calc(#{$rounded-small} - 1px);
            }
        }

        @media (max-width:767px) {
            &.full-width {
                width: auto !important;
                
                tr {
                    display: flex;
                    flex-direction: column;
                    td, th {
                        width: auto !important;
                    }
                }
            }
        }

        tbody {
            tr:last-child {

                td:first-child {
                    border-bottom-left-radius: calc(#{$rounded-small} - 1px);
                }

                td:last-child {
                    border-bottom-right-radius: calc(#{$rounded-small} - 1px);
                }
            }
        }

        th,td {
            padding:1em;
            border:1px solid $gray-40;
            p:only-child, p:last-child {
                margin-bottom: 0;
            }
        }

        .title {
            font-family: $inter;
            font-style: normal;
            font-size: 1em;
            line-height: 1.5;
            letter-spacing: -0.02em;
        }

    }
    .footer {
        blockquote {
            margin:0;
        }
    }
}
