article.leaf-page {
    position: relative;
   
    @media (min-width: 1280px) {
        .toc {
            display: block;

            & ~ .content {
                padding-right: 308px;
            }
        }
    }
}