article.leaf-page {
    position: relative;
   
    @media (min-width: 1448px) {
        .toc {
            display: block;

            & ~ .content {
                padding-right: calc(226px + 2rem);
            }
        }
    }