article.leaf-page {
  position: relative;

  @media (min-width: 1448px) {
    .toc:not(.advanced-features) {
      display: block;

      & ~ .content {
        padding-right: calc(226px + 2rem);
      }
    }
  }
}
