.masonry {
  columns: 34vw;
  column-gap: 1rem;

  &::before,
  &::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }

  > * {
    width: 100%;
  }

    @media(min-width:1024px) {
      columns: 32vw;
    }

    @media(min-width:1440px) {
      columns: 20vw;
    }
    
    @media(min-width:1920px) {
      columns: 17vw;
    }

    @media(max-width:1024px) {
      height:unset;
      columns: 100vw;
  }
}