.masonry {
  columns: 1;
  column-gap: 2rem;
  max-width: 100%;

  > * {
    break-inside: avoid;
  }

  @media(min-width:1024px) {
    columns: 2;
  }

  @media(min-width:1440px) {
    columns: 3;
  }

  @media(min-width:1920px) {
    columns: 3;
  }
}
