.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 1rem;
    justify-content: center;
    
    .fourth {
        grid-column: span 3;
    }

    .third {
        grid-column: span 4;
    }

    .half {
        grid-column: span 6;
    }

    .two-third {
        grid-column: span 8;
    }

    .three-fourth {
        grid-column: span 9;
    }

    .full {
        grid-column: 1/-1;
    }

    @media (max-width:1024px) {
        .fourth,.third,.half,.two-third {
            grid-column: 1/-1;
        }
    }
}