.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .fourth {
        width:calc(25% - 2.75em);
    }
    .third {
        width:calc(33.333% - 2.666em);
    }
    .half {
        width:calc(50% - 2.5em);
    }
    .two-third {
        width:calc(66.666% - 2.333em);
    }
    .three-fourth {
        width:calc(75% - 2.25em);
    }
    .full {
        width:calc(100% - 2em);
    }
    @media (max-width:768px) {
        .fourth,.third,.half,.two-third {
            width:calc(100% - 2em);
        }
    }
}