.block-tiles {
    display: grid;
    grid-template-columns: repeat(6,  1fr);
    gap: 1.75rem 1rem;
    margin-bottom: 3em;

    .third {
        grid-column: span 2;
    }
    .half {
        grid-column: span 3;
    }
    .two-third {
        grid-column: span 4;
    }
    .full {
        grid-column: span 6;
    }

    @media (max-width:1024px) {
        > * {
            grid-column: span 6 !important;
        }
    }
}