.ListContainer {
  @apply absolute right-0 top-0 h-full w-56 z-10 hidden 3xl:w-64;
}

.List {
  @apply sticky top-24 m-0 pl-6 list-none overflow-y-auto overflow-x-hidden;
  max-height: calc(100vh - (6em * 2));
}

.ListItem {
  @apply m-0 text-xs pt-1;
}

.TopGradient {
  @apply absolute h-6 w-full bg-gradient-to-b from-white z-10;
}

:global(.dark) .TopGradient {
  @apply from-gray-100;
}

/* Contents Title */
.ListTitle {
  @apply pt-6 uppercase font-semibold tracking-widest;
  @apply text-gray-60 !important;
}

/* Styles for the active item on the floating nav */
.Link {
  @apply border-none inline-block pr-2 w-40 leading-4 hover:opacity-70 hover:no-underline 3xl:w-48;
  @apply text-gray-70 !important;
}

.activeLink {
  @apply text-gray-100 !important;
}

:global(.dark) .activeLink {
  @apply text-gray-40 !important;
}

/* Paddings for different title hierarchies */
.List li[data-hierarchy="0"] {
  @apply pl-0;
}

.List li[data-hierarchy="1"] {
  @apply pl-6;
}

.List li[data-hierarchy="2"] {
  @apply pl-10;
}

.List li[data-hierarchy="3"] {
  @apply pl-12;
}

.List li[data-hierarchy="4"] {
  @apply pl-14;
}

.List li[data-hierarchy="5"] {
  @apply pl-16;
}

.List li[data-hierarchy="6"] {
  @apply pl-20;
}
