.block-arrow-link-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
  .not-link {
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: $normal;
      path {
        fill: $black;
      }
    }
  }
  .back {
    margin-right: auto;
    padding-left: 1.25em;

    svg {
      left: 0;
    }

    &:hover {
      svg {
        left: -0.25em;
        transform: translateY(-50%) scale(1.1);
      }
    }
  }
  .next {
    margin-left: auto;
    padding-right: 1.25em;

    svg {
      right: 0;
    }

    &:hover {
      svg {
        right: -0.25em;
        transform: translateY(-50%) scale(1.1);
      }
    }
  }
  @media (max-width: 768px) {
    flex-wrap: wrap;
    flex-direction: column;
    .back {
      margin-left: auto;
    }
    .next {
      margin-top: 2rem;
      margin-right: auto;
    }
  }
}
