footer {
    margin-top: $header-height;
    height: $header-height;
    display: flex;
    align-items: center;
    
    @media(min-width: 1250px) {
        margin-left: calc(314px + (100vw * 0.1));
    }
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding-right: 0;

        hr {
            border: none;
            margin: 1rem 0;
            width: 100%;
        }

        @media(min-width: 1250px) {
            padding-top: 1em;
            padding-bottom: 1em;

            nav, .social-media-icons { 
                margin-bottom: 0.5em;
            }
        }

        nav {
            display: flex;
            gap: 2em;
        }

        .social-media-icons {
            display: flex;
            align-items: center;
            gap: 1em;

            .social-media-icon {
                font-size:1em;
                display: unset;
            }
            
            a {
                position: relative;
                border-radius: 100%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .5em;

                svg {
                    height:1.5em;
                    width:1.5em;
                    display: flex;
                }

                &:before {
                    border-radius: 100%;
                    content:'';
                    height:100%;
                    width:100%;
                    background:$gray-20;
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                    transform: scale(.5);
                }
                &:hover {
                    transform:scale(1.05);
                    opacity: 1;
                    
                    &:before {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
                &.git-hub:hover {
                    svg {
                        path {
                            fill:$git-hub;
                        }
                    }
                }
                &.you-tube:hover {
                    svg {
                        path {
                            fill:$you-tube;
                        }
                    }
                }
                &.twitter:hover {
                    svg {
                        path {
                            fill:$twitter;
                        }
                    }
                }
                &.discord:hover {
                    svg {
                        path {
                            fill:$discord;
                        }
                    }
                }
                &.instagram:hover {
                    svg {
                        
                        path {
                            fill:url(#instagram-gradient);
                        }
                    }
                }
            }
        }
        .copyright {
            color: $gray-60;
        }
    }

    @media(max-width:1024px) {
        
        .container {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            padding: 2em 0;
        }
    }
}