header {
  position: sticky;
  width: 100vw;
  top: 0;
  height: $header-height;
  transition: $normal;
  z-index: 99;
  margin-bottom: 3em;

  .container {
    transition: $normal;
  }

  h4 {
    margin: 0;
  }

  &.sticky .container {
    height: $mini-header-height;
    &:before {
      opacity: 1;
      height: calc(100% + 2px);
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: $header-height;

    &:before {
      content: "";
      position: absolute;
      height: calc(100% + 2px);
      width: 100vw;
      top: -2px;
      left: 50%;
      transform: translate(-50%);
      transition: $normal;
      opacity: 0;

      @media (max-width: 1024px) {
        opacity: 1;
      }
    }

    .toggleTheme {
      position: relative;
      height: 2rem;
      width: 2rem;
      margin-bottom: 0;

      i {
        transition: $fast;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
      }
    }
    .toggle-mobile {
      position: relative;
      height: 2rem;
      width: 2rem;
      margin-bottom: 0;
      border-radius: $rounded-small;

      i {
        transition: $fast;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
      }
    }

    .brand {
      display: flex;
      align-items: center;
      margin: 0;

      h4 {
        font-weight: 500;
      }

      img {
        margin-right: 1em;
      }
    }

    .options {
      z-index: 2;
      display: flex;
      align-items: center;
      gap: 1.5rem;
      flex: auto;
      justify-content: flex-end;

      @media (max-width: 768px) {
        gap: 1rem;
      }
    }
  }

  @media (max-width: 1024px) {
    .container {
      .brand {
        h4 {
          display: none;
        }
      }
    }
  }
}
