.off-screen-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: white;
  padding: 2em;
  z-index: 9;
  pointer-events: none;
  opacity: 0;

  .sub-nav {
    display: none;
  }
}
