.block-side-nav {
    display: none;
    position: fixed;
    top: $header-height;
    z-index: 10;
    transition: $slow;

    * {
      transition: $slow;
    }


    @media(max-width: 1024px) {
        position: fixed;
        background: white;
        width: calc(100vw - 20%);
        height: 100vh;
        top: calc(#{$header-height} / 2);
        left: 0;
        padding: calc(#{$header-height} / 2) 10% 0 10%;
        transform: translateY(105%);
        transition: transform $normal ease-in;
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        pointer-events: none;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.08);
        overflow: scroll;
        opacity: 0;
        
        &.open {
            pointer-events: all;
            transform: translateY(0);
            opacity: 1;
            transition: transform $normal ease-in;
        }
    }

    @media(min-width: 1024px) {
        position: sticky;
        display: block;
    }

    &.over {

        @media(max-width: 1024px) {
            display: block;
        }

        @media(min-width: 1024px) {

            .side-nav {
                position: absolute;
            }

            .side-nav:before {
                transform: translateX(0);
                transition: transform .25s ease-out;
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.08);
                perspective: 1000;
                backface-visibility:none;
            }
        }
    }


    .side-nav {
        list-style: none;
        padding-right: 1em;
        z-index: 11;
        margin-bottom: calc(#{$header-height} * 1.5);

        @media(min-width: 1024px) {
            &:before {
                content: '';
                position: fixed;
                left: 0;
                top: 0;
                height: 100%;
                background: white;
                width: 50vw;
                z-index: 0;
                min-width: 400px;
                will-change: transform;
                transform: translateX(-100%);
                transition: transform $normal ease-in;
            }
        }

        &.condensed {

            margin-left: -1em;

            .nav-item {

                .head {
                    flex-wrap: wrap;
                    justify-content: center;
                    text-align: center;
                    max-width: 5em;

                    .icon-box {
                        margin-right: 0;
                        margin-bottom: .25em;
                    }

                    p {
                        width:100%;
                        font-size: .75em;
                        // color: inherit !important;
                    }
                }

                .sub-nav {
                    display:none;
                }
            }
        }

        a:active {
            font-weight: bold;
        }

        ul, ol {
            margin: 0;
            white-space: nowrap;
        }

        .nav-item {
            margin-bottom: 2em;

            .head {
                display: flex;
                align-items: center;
                transition: $fast;

                &:hover {
                    opacity: .7;
                }

                .icon-box {
                    display: flex;
                    align-items: center;
                    padding: .5em;
                    margin-right: 1em;
                    margin-bottom: 0;
                    border-radius: $rounded-small;

                    i {
                        font-size:2em;
                        color:white;
                    }
                }
                p {
                    margin: 0;
                }
            }
            .sub-nav {
                padding-left:4em;
                list-style: none;
                margin-top: 1em;

                .child {
                    .child-item {
                        display:flex;
                        align-items: center;

                        i.accordion {
                            cursor: pointer;
                            font-size: 1em;
                            margin-left:.5em;
                            border:1px solid;
                            border-radius: $rounded-small;
                            transition:$fast;
                            position: relative;
                            z-index: 11;

                            &:hover{
                                opacity: .5;
                                transform: scale(.95);
                            }
                        }

                        a {
                            display:flex;
                            align-items: center;
                            margin:0;

                            i {
                                margin-left:.5em;
                                font-size: 1em;
                            }
                        }
                    
                        &.active {
                            position: relative;

                            > a> span {
                                color:$black;
                                font-weight: bold;
                            }

                            .colored-ball {
                                position:absolute;
                                height:.5em;
                                width:.5em;
                                right: calc(100% + .5em);
                                border-radius: $rounded-circle;
                            }
                        }
                    }
                    .child-sub-nav {
                        list-style-type: none;
                        margin-top: 1em;
                        padding-left: 2em;
                    }
                }
            }

        }
    }
}
