.block-side-nav {
  &:before {
    @media (min-width: 1024px) {
      content: "";
      display: block;
      position: fixed;
      pointer-events: none;
      height: $header-height;
      z-index: 33;
      top: 0;
      opacity: 0;
      transition: opacity $slow ease-in;
      transition-delay: $slow;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 75%,
        rgba(255, 255, 255, 0) 100%
      );
      width: 0;
    }
  }

  &.over {
    z-index: 10;

    @media (max-width: 1024px) {
      display: block;
    }

    &:before {
      transition: opacity $slow ease-in;
      transition-delay: $slow;
      opacity: 1;
      width: calc(50vw - (50vw * 0.2));
    }

    @media (max-width: 1249px) {
      .inner-nav {
        width: calc(50vw - (50vw * 0.2));
      }
    }

    @media (min-width: 1024px) {
      .side-nav {
        position: absolute;
      }

      .side-nav:before {
        transform: translateX(0);
        transition: transform 0.25s ease-out;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.08);
        perspective: 1000;
        backface-visibility: none;
      }
    }
  }

  .side-nav {
    list-style: none;
    padding-right: 1em;
    margin-bottom: calc(#{$header-height} * 1.5);

    @media (min-width: 1024px) {
      &:before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        background: white;
        width: 50vw;
        z-index: 0;
        min-width: 400px;
        will-change: transform;
        transform: translateX(-100%);
        transition: transform $normal ease-in;
      }

      .inner-nav {
        overflow-x: hidden;
        overflow-y: auto;
        overflow-y: overlay;
        height: 100%;
        position: absolute;
        top: 0;
        padding-top: $header-height;
        height: 100vh;
        padding-bottom: $header-height;
        @media (min-width: 1249px) {
          width: 314px;
        }
      }
    }

    &.condensed {
      .nav-item {
        .head {
          flex-wrap: wrap;
          justify-content: center;
          text-align: center;
          max-width: 5em;

          .icon-box {
            margin-right: 0;
            margin-bottom: 0.25em;
          }

          p {
            width: 100%;
            font-size: 0.75em;
            // color: inherit !important;
          }
        }

        .sub-nav {
          display: none;
        }
      }
    }
  }
}
