$colors: (
  "black": #000000,
  "off-black": #0f1218,
  "dark-black": #062633,
  "white": #ffffff,
  "pink": #f63366,
  dark-orange: #481d00,
  dark-violet: #3d305f,
  red-100: #7d353b,
  red-90: #bd4043,
  red-80: #ff2b2b,
  red-70: #ff4b4b,
  red-60: #ff6c6c,
  red-50: #ff8c8c,
  red-40: #ffabab,
  red-30: #ffc7c7,
  red-20: #ffdede,
  red-10: #fff0f0,
  orange-100: #d95a00,
  orange-90: #ed6f13,
  orange-80: #ff8700,
  orange-70: #ffa421,
  orange-60: #ffbd45,
  orange-50: #ffd16a,
  orange-40: #ffe08e,
  orange-30: #ffecb0,
  orange-20: #fff6d0,
  orange-10: #fffae8,
  yellow-100: #dea816,
  yellow-90: #edbb16,
  yellow-80: #faca2b,
  yellow-70: #ffe312,
  yellow-60: #fff835,
  yellow-50: #ffff59,
  yellow-40: #ffff7d,
  yellow-30: #ffffa0,
  yellow-20: #ffffc2,
  yellow-10: #ffffe1,
  green-100: #177233,
  green-90: #158237,
  green-80: #09ab3b,
  green-70: #21c354,
  green-60: #3dd56d,
  green-50: #5ce488,
  green-40: #7defa1,
  green-30: #9ef6bb,
  green-20: #c0fcd3,
  green-10: #dffde9,
  b-g-100: #246e69,
  b-g-90: #2c867c,
  b-g-80: #29b09d,
  b-g-70: #00d4b1,
  b-g-60: #20e7c5,
  b-g-50: #45f4d5,
  b-g-40: #6bfde3,
  b-g-30: #93ffee,
  b-g-20: #bafff7,
  b-g-10: #dcfffb,
  l-blue-100: #15799e,
  l-blue-90: #0d8cb5,
  l-blue-80: #00a4d4,
  l-blue-70: #00c0f2,
  l-blue-60: #24d4ff,
  l-blue-50: #4be4ff,
  l-blue-40: #73efff,
  l-blue-30: #9af8ff,
  l-blue-20: #bffdff,
  l-blue-10: #e0feff,
  blue-100: #004280,
  blue-90: #0054a3,
  blue-80: #0068c9,
  blue-70: #1c83e1,
  blue-60: #3d9df3,
  blue-50: #60b4ff,
  blue-40: #83c9ff,
  blue-30: #a6dcff,
  blue-20: #c7ebff,
  blue-10: #e4f5ff,
  violet-100: #3f3163,
  violet-90: #583f84,
  violet-80: #6d3fc0,
  violet-70: #803df5,
  violet-60: #9a5dff,
  violet-50: #b27eff,
  violet-40: #c89dff,
  violet-30: #dbbbff,
  violet-20: #ebd6ff,
  violet-10: #f5ebff,
  gray-100: #0e1117,
  gray-90: #262730,
  gray-80: #555867,
  gray-70: #808495,
  gray-60: #a3a8b8,
  gray-50: #bfc5d3,
  gray-40: #d5dae5,
  gray-30: #e6eaf1,
  gray-20: #f0f2f6,
  gray-10: #f0f2f6,
);
//
//   ____             _                                   _  ____ _
//  | __ )  __ _  ___| | ____ _ _ __ ___  _   _ _ __   __|  / ___| | __ _ ___ ___  ___ ___
//  |  _ \ / _` |/ __| |/ / _` | '__/ _ \| | | | '_ \ / _` | |   | |/ _` / __/ __|/ _ / __|
//  | |_) | (_| | (__|   | (_| | | | (_) | |_| | | | | (_| | |___| | (_| \__ \__ |  __\__ \
//  |____/ \__,_|\___|_|\_\__, |_|  \___/ \__,_|_| |_|\__,_ \____|_|\__,_|___|___/\___|___/
//                        |___/
//
@each $class, $value in $colors {
  .bg-#{$class} {
    background: $value;
  }
}

//
//   _____           _    ____      _             ____ _
//  |  ______  _ __ | |_ / ___|___ | | ___  _ __ / ___| | __ _ ___ ___  ___ ___
//  | |_ / _ \| '_ \| __| |   / _ \| |/ _ \| '__| |   | |/ _` / __/ __|/ _ / __|
//  |  _| (_) | | | | |_| |__| (_) | | (_) | |  | |___| | (_| \__ \__ |  __\__ \
//  |_|  \___/|_| |_|\__ \____\___/|_|\___/|_|   \____|_|\__,_|___|___/\___|___/
//
@each $class, $value in $colors {
  .color-#{$class} {
    color: $value !important;
  }
}

@each $class, $value in $colors {
  .border-#{$class} {
    border: 1px solid $value;
  }
}
