body[data-theme="dark-mode"] {
    background: $off-black;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    li,
    i {
        color: $white;
    }
    .inline_code {
        color: $yellow-60;
        border-color: $gray-70;
    }
    header {
        &.sticky .container::before {
            border-bottom: 1px solid $gray-80;
        }
        .container {
            &::before {
                border-bottom: 1px solid rgba(255, 255, 255, 0);
                background: $off-black;
            }
            .hot-key > * {
                color: $white;
            }
            .toggleTheme {
                background: $gray-90;

                .light {
                    opacity: 0;
                    transform: translate(-50%, -50%) scale(0);
                }
                .dark  {
                    color: $white;
                }
            }
            .toggle-mobile {
                background: $gray-90;
                i {
                    color: $white;
                }
            }
            .mobile {
                background: $off-black;
            }
        }
    }
    .block-side-nav {
        @media(max-width: 1024px) {
            background: $off-black;
        }
        @media(min-width: 1024px) {
            .side-nav:before {
                background: $off-black;
            }
        }
    }
    .block-arrow-link-container {
        .not-link {
            svg path {
                fill: $white;
            }
        }
    }
    .block-search {
        .hot-key {
            color: $white;
            background: $gray-90;
        }
        .algolia {
            button {
                color: $white;
            }
            .content {
                background: $gray-90;
                .ais-SearchBox {
                    background: $gray-90;
                    &:before {
                        background: $gray-90;
                    }
                }
                .ais-SearchBox-form {
                    input {
                        border-color: $gray-80;
                        color: $white;
                        &::placeholder {
                            color: $gray-70;
                        }
                    }
                    button {
                        svg {
                            path {
                                fill: $white;
                            }
                        }
                    }
                }
                .ais-Hits {
                    .ais-Hits-list {
                        li {
                            .item {
                                em {
                                    border-color: $white;
                                }
                                a {
                                    border-bottom: 1px solid $gray-80;
                                    .copy {
                                        p {
                                            color: $gray-70;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .block-theme-toggle {
        select {
            color: $white;
            background: $gray-90;
        }
        &:after {
            color: $gray-70;
        }
    }
    footer {
        border-top: 1px solid $gray-80;
    }
    ol.tutorial {
        li {
            &::before {
                color: $black;
                background: $gray-10;
            }
        }
    }
    .block-image {
        .block-note {
            background: $gray-90;
            color: white;
        }
        .light-box {
            &:before {
                background: $gray-90;
            }
            button {
                color: $white;
            }
        }
    }
    table {
        .head {
            background: #002243;
            color: $white;
        }
    }
    .block-helpful {
        .helpful {
            button {
                background: $gray-80;
                i {
                    color: $gray-90;
                }
            }
        }
        .improve {
            label {
                color: $white;
            }
        }
    }
    .block-news-entry {
        border-color: $gray-90;
    }
    .block-forum-psa {
        border-color: $gray-90;
    }
    .block-inline-callout {
        border-color: $gray-90;
    }
    .block-side-nav {
        .side-nav {
            &.expanded {
                .nav-item {
                    .head {
                        p {
                            color: $gray-40 !important;
                        }
                    }
                    .sub-nav {
                        a {
                            color: $gray-40;
                        }
                    }
                }
            }
        }
        #off-screen-nav {
            background: $off-black;
            .brand {
                background: $off-black;
                &:before {
                    background: $off-black;
                }
            }
            border-right: 1px solid $gray-80;
        }
    }
    .breadcrumbs {
        li {
            color: $gray-40;
            a {
                color: $gray-40;
            }
        }
    }

    :focus,
    :focus-visible {
      outline: 2px solid $gray-50;
      transition: none;
    }

    .autofunction .code-desc {
        color: $white;
    }
    .toc {
        ol li.active {
            background-color: $violet-90;
            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.952437 7.90752L1.14007 8.07272L0.952436 7.90752C0.682521 8.21409 0.682521 8.69954 0.952436 9.00611C1.23875 9.3313 1.71774 9.3313 2.00405 9.00611L5.04756 5.54929C5.31748 5.24273 5.31748 4.75727 5.04756 4.45071L2.00405 0.993892C1.71774 0.668703 1.23875 0.668703 0.952437 0.993892C0.682521 1.30046 0.682521 1.78591 0.952437 2.09248L3.51233 5L0.952437 7.90752Z' fill='%23FFFFFF' stroke='%23FFFFFF' stroke-width='0.5'/%3E%3C/svg%3E%0A");
            }
        }
    }
}
