html {
    transition: $slow;
    // margin-top: $header-height;
    scroll-behavior: smooth;
    overflow-x: hidden;
    * {
        transition: $slow;
    }
    &.nav-open {
        overflow: hidden;
    }
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: $normal;
    position: relative;
    display: inline;
    cursor: pointer;
    &:after {
        content: '';
        position: absolute;
        background: $pink;
        width: 0%;
        height: 1px;
        bottom: -1px;
        left: 0;
        transition: $fast;
    }
    &:hover {
        opacity: .7;
        border-bottom: 1px solid $pink;
        &:after {
            width: 100%;
        }
    }
}

ol,
ul {
    margin: 0;
    padding-left: 1em;
    li {
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    ul,
    ol {
        margin-top: 1em;
    }
}
ul {
    list-style: disc;
    ul {
        list-style: circle;
        ul {
            list-style: disc;
            ul {
                list-style: circle;
            }
        }

    }
}

button {
    background: $red-70;
    border: 0;
    border-radius: $rounded-small;
    padding: 1em;
    color: $white;
    font-weight: 900;
    cursor: pointer;
    transition: $fast;
    display: block;
    margin-bottom: 1em;
    &:hover {
        opacity: .9;
        transform: scale(1.025);
        box-shadow: 0px 6px 12px -11px $gray-60;
    }
}