html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: $mini-header-height;

    &.nav-open {
        overflow: hidden;
    }
}

body {
    margin: 0;
    scroll-margin: $mini-header-height;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: $normal;
    position: relative;
    display: inline;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        background: $red-70;
        width: 0%;
        height: 1px;
        bottom: -1px;
        left: 0;
        transition: $fast;
    }

    &:hover {
        opacity: .7;
        border-bottom: 1px solid $red-70;

        &:after {
            width: 100%;
        }
    }
}

ol,
ul {
    margin: 0;
    padding-left: 1em;

    li {
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul,
    ol {
        margin-top: 1em;
    }
}

ul {
    list-style: disc;

    ul {
        list-style: circle;

        ul {
            list-style: disc;

            ul {
                list-style: circle;
            }
        }

    }
}

button {
    background: $red-70;
    border: 0;
    border-radius: $rounded-small;
    padding: 1em;
    color: $white;
    font-weight: 900;
    cursor: pointer;
    transition: $fast;
    display: block;
    margin-bottom: 1em;

    &:hover {
        opacity: .9;
        transform: scale(1.025);
        box-shadow: 0px 6px 12px -11px $gray-60;
    }
}

iframe {
    border: none;
    max-width: 100%;
    display: inline-block;
}

/* Improve scrollbars on Chrome + Windows/Linux. */
:not(.mac) {
    ::-webkit-scrollbar {
        height: 6px;
        width: 6px;
        background: transparent;
    }

    ::-webkit-scrollbar-thumb:horizontal {
        margin-top: -6px;
    }

    ::-webkit-scrollbar-thumb:active {
        opacity: 1;
        background-color: rgba(128, 132, 149, 0.75)
    }

    ::-webkit-scrollbar-thumb:hover,
    :hover::-webkit-scrollbar-thumb:horizontal,
    :hover::-webkit-scrollbar-thumb:vertical {
        border-radius: 9999px;
        opacity: 1;
        background-color: rgba(191, 197, 211, 0.75)
    }
}

.flex-box {
    display: flex;

    @media (max-width:1024px) {
        flex-direction: column;
    }
}