body[data-theme="light-mode"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    li,
    i {
        color: $gray-90;
    }
    a {
        &:after {
            background: $red-40;
        }
    }
    .inline_code {
        color: $pink;
        border-color: $gray-40;
    }
    header {
        &.sticky .container::before {
            border-bottom: 1px solid $gray-20;
        }
        .container {
            &:before {
                background: $white;
            }
            .toggleTheme {
                background: $gray-20;
                .dark {
                    opacity: 0;
                    transform: translate(-50%, -50%) scale(0);
                }
                .light {
                    color:$gray-70;
                }
            }
            .toggle-mobile {
                background: $gray-20;
                i {
                    color:$gray-70;
                }
            }
            .mobile {
                background:$white;
            }
        }
    }
    .block-search {
        .hot-key {
            color: $gray-90;
            background: $gray-20;
        }
        .algolia {
            button {
                color: $gray-90;
            }
            .content {
                background: $gray-10;
                .ais-SearchBox {
                    background: $gray-10;
                    &:before {
                        background: $gray-10;
                    }
                }
                .ais-SearchBox-form {
                    input {
                        border-color: $gray-40;
                        color: $gray-90;
                        &::placeholder {
                            color: $gray-70;
                        }
                    }
                    button {
                        svg {
                            path {
                                fill: $gray-90;
                            }
                        }
                    }
                }
                .ais-Hits {
                    .ais-Hits-list {
                        li {
                            .item {
                                a {
                                    border-bottom: 1px solid $gray-40;
                                    .copy {
                                        p {
                                            color: $gray-70;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .block-theme-toggle {
        select {
            color: $gray-90;
            background: $gray-20;
        }
        &:after {
            color: $gray-60;
        }
    }
    footer {
        border-top: 1px solid $gray-40;
    }
    ol.tutorial {
        li {
            &::before {
                background: $gray-20;
            }
        }
    }
    .arrow_link {
        svg {
            path {
                fill: $gray-90;
            }
        }
    }
    .block-image {
        .block-note {
            background: $gray-20;
            color: $gray-90;
        }
        .light-box {
            &:before {
                background: $gray-20;
            }
            button {
                color: $gray-90;
            }
        }
    }
    table {
        .head {
            background: #f1faff;
            color: $blue-100;
        }
    }
    .block-helpful {
        .helpful {
            button {
                color: $gray-90;
                background: $gray-20;
                i {
                    color: $gray-50;
                }
            }
        }
        .improve {
            .input-container {
                input {
                    border: 1px solid $gray-90;
                    &:checked {
                        background: $gray-90;
                    }
                }
                label {
                    color: $gray-90;
                }
            }
        }
    }
    .block-news-entry {
        border-color: $gray-30;
    }
    .block-forum-psa {
        border-color: $gray-30;
    }
    .block-inline-callout {
        border-color: $gray-30;
    }
    .block-side-nav {
        .side-nav {
            &.expanded {
                .nav-item {
                    .head {
                        p {
                            color: $gray-80 !important;
                        }
                    }
                    .sub-nav {
                        a {
                            color: $gray-80;
                        }
                    }
                }
            }
        }
        #off-screen-nav {
            background: $white;
            .brand {
                background: $white;
                &:before {
                    background: $white;
                }
            }
            border-right: 1px solid $gray-20;
        }
    }
    .breadcrumbs {
        li {
            a {
                color:$gray-60;
            }
        }
    }
}