body[data-theme="light-mode"] {
  --theme-bg: #{$white};
  --theme-bg-transparent: #{transparentize($white, 1)};

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  li,
  i {
    color: $gray-90;
  }
  a {
    &:after {
      background: $red-40;
    }
  }
  .inline_code {
    color: $red-70;
    border-color: $gray-40;
  }
  header {
    &.sticky .container::before {
      border-bottom: 1px solid $gray-20;
    }
    .container {
      &:before {
        background: $white;
      }
      .hot-key > * {
        color: $gray-70;
      }
      .toggleTheme {
        background: $gray-20;
        .dark {
          opacity: 0;
          transform: translate(-50%, -50%) scale(0);
        }
        .light {
          color: $gray-70;
        }
      }
      .toggle-mobile {
        background: $gray-20;
        i {
          color: $gray-70;
        }
      }
      .mobile {
        background: $white;
      }
    }
  }
  .block-search {
    .hot-key {
      color: $gray-90;
      background: $gray-20;
    }
    .algolia {
      button {
        color: $gray-90;
      }
      .content {
        background: $gray-10;
        .ais-SearchBox {
          background: $gray-10;
          &:before {
            background: $gray-10;
          }
        }
        .ais-SearchBox-form {
          input {
            border-color: $gray-40;
            color: $gray-90;
            &::placeholder {
              color: $gray-70;
            }
          }
          button {
            svg {
              path {
                fill: $gray-90;
              }
            }
          }
        }
        .ais-Hits {
          .ais-Hits-list {
            li {
              border-bottom: 1px solid $gray-40;
              .item {
                a {
                  .copy {
                    p {
                      color: $gray-70;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .block-theme-toggle {
    select {
      color: $gray-90;
      background: $gray-20;
    }
    &:after {
      color: $gray-60;
    }
  }
  footer {
    hr {
      border-top: 1px solid $gray-40;
    }
  }
  ol.tutorial {
    li {
      &::before {
        background: $gray-20;
      }
    }
  }
  .block-image {
    .block-note {
      background: $gray-20;
      color: $gray-90;
    }
    .light-box {
      &:before {
        background: $gray-20;
      }
      button {
        color: $gray-90;
      }
    }
  }
  table {
    .head {
      background: #f1faff;
      color: $blue-100;
    }
  }
  .block-helpful {
    .helpful {
      button {
        color: $gray-90;
        background: $gray-20;
        i {
          color: $gray-50;
        }
      }
    }
    .improve {
      .input-container {
        input {
          border: 1px solid $gray-90;
          &:checked {
            background: $gray-90;
          }
        }
        label {
          color: $gray-90;
        }
      }
    }
  }
  .suggestEdits {
    button {
      color: $white;
      background: $red-70;
      i {
        color: $white;
      }
    }
  }
  .block-news-entry {
    border-color: $gray-30;
  }
  .block-forum-psa {
    border-color: $gray-30;
  }
  .block-inline-callout {
    border-color: $gray-30;
  }
  .block-side-nav {
    .side-nav {
      &.expanded {
        .nav-item {
          .head {
            p {
              color: $gray-80;
            }
          }
          .sub-nav {
            a {
              color: $gray-80;
            }
          }
        }
      }
    }
    #off-screen-nav {
      background: $white;
      .brand {
        background: $white;
        &:before {
          background: $white;
        }
      }
      border-right: 1px solid $gray-20;
    }
  }

  :focus,
  :focus-visible {
    outline: 2px solid $gray-50;
  }

  .code-tile,
  .reference-card {
    .block-code {
      pre.line-numbers {
        background-color: transparent;
        color: $gray-80;

        & > code {
          .operator {
            color: $yellow-90;
          }

          .decorator {
            color: $yellow-100;
          }

          .keyword {
            color: $blue-70;
          }

          .builtin {
            color: $l-blue-80;
          }

          .string {
            color: $green-80;
          }

          .number {
            color: $red-90;
          }

          .function {
            color: $red-60;
          }

          .comment,
          .punctuation {
            color: $gray-60;
          }
        }
      }
    }

    &.featured {
      pre.line-numbers {
        background-color: transparent;
      }
    }
  }

  .reference-card {
    .block-code {
      pre.line-numbers {
        background-color: $gray-10;
      }
    }
  }
}
