// Layouts
.container {
  width: 100%;
  margin: auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translate(1%);
}

// Font styling
.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.code {
  font-family: $source;
}

.inline_code {
  font-family: $source;
  padding: 0.25em;
  border: 1px solid;
  border-radius: $rounded-small;
}

a.not-link {
  border: none;
  &:after {
    content: unset;
  }
}

.code_header {
  font-family: $source;
}

// Lists
ol.tutorial {
  counter-reset: custom_list_style;
  list-style: none;
  padding-left: 1.5em;
  li {
    counter-increment: custom_list_style;
    position: relative;
    &::before {
      content: counter(custom_list_style);
      width: 1.75em;
      height: 1.75em;
      font-weight: bold;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      margin-left: -1.5em;
      margin-right: 1em;
    }
  }
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (min-width: 1448px) {
  .container {
    max-width: 1448px;
  }
}
