// Layouts
.container {
    width: 80%;
    margin: auto;
    // @media (max-width:1024px) {
    //     width:100%;
    // }
}

// global page transitions
.page-enter-active,
.page-leave-active {
    transition: $fast;
}

.page-enter,
.page-leave-to {
    opacity: 0;
    transform: translate(1%);
}

// Font styling
.bold {
    font-weight: 900;
}

.italic {
    font-style: italic;
}

.code {
    font-family: $source;
}

.inline_code {
    font-family: $source;
    padding: .25em;
    border: 1px solid;
    border-radius: $rounded-small;
}

a.not-link {
    border: none;
    &:after {
        content: unset;
    }
}

.code_header {
    font-family: $source;
}

// Lists
ol.tutorial {
    counter-reset: custom_list_style;
    list-style: none;
    padding-left: 1.5em;
    li {
        counter-increment: custom_list_style;
        position: relative;
        &::before {
            content: counter(custom_list_style);
            width: 1.75em;
            height: 1.75em;
            font-weight: bold;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            margin-left: -1.5em;
            margin-right: 1em;
        }
    }
}