.template-standard,
.template-expanded-wide {
  > section.block-side-nav {
    float: left;
  }

  > section.content {
    @media (min-width: 1024px) {
      padding-left: $siderbar-min-width;
    }

    @media (min-width: 1250px) {
      padding-left: $siderbar-full-width;
    }
  }
}
