.Container {
  @apply relative w-full z-30;
  @apply bg-white !important;
}

.stickyContainer {
  @apply fixed h-12 top-0;
}

/* Fade effect using background color gradient */
.stickyContainer::after {
  content: "";
  @apply absolute left-0 right-0 h-6 pointer-events-none;
  top: 100%;
  background: linear-gradient(to bottom, theme("colors.white"), transparent);
}

.standardContainer {
  @apply h-24;
}

:global(.dark) .Container {
  @apply bg-gray-100 !important;
}

:global(.dark) .stickyContainer::after {
  background: linear-gradient(to bottom, theme("colors.gray.100"), transparent);
}

.Navigation {
  @apply container px-2 xl:px-4 flex items-center justify-between relative transition-all mx-auto h-full left-auto;
}

.LogoContainer {
  @apply flex items-center m-0 text-base tracking-tight md:ml-0 lg:ml-2 xl:-ml-1 hover:opacity-70;
}

.LogoText {
  @apply hidden xl:block m-0 font-normal ml-4 relative top-px text-lg;
  @apply text-gray-90 !important;
}

:global(.dark) .LogoText {
  @apply text-gray-40 !important;
}

.NavigationContainer {
  @apply flex items-center flex-auto justify-self-end gap-4 lg:gap-6;
}

.Container nav section i {
  @apply text-gray-70;
}
