.Container {
  @apply text-sm tracking-tight dark:text-white mb-4;
}

.List {
  @apply list-none mt-4;
}

.Accordion {
  @apply border rounded-md transition-all ml-2 flex items-center justify-center hover:opacity-50 h-4 w-4;
}

.AccordionIcon {
  @apply relative z-10 cursor-pointer text-sm;
  @apply text-gray-80 !important;
}

.ExternalIcon {
  @apply relative z-10 cursor-pointer text-sm ml-1 -my-2;
  @apply text-gray-70 !important;
}

.CrossLinkedIcon {
  @apply relative z-10 cursor-pointer text-xl ml-1 -my-2;
  @apply text-gray-70 !important;
}

:global(.dark) .AccordionIcon,
:global(.dark) .ExternalIcon,
:global(.dark) .ActivePage,
:global(.dark) .ActivePage ~ .Icon {
  @apply text-white !important;
}

.LinkContainer {
  @apply flex items-center;
}

.Link {
  @apply relative flex items-center hover:opacity-70;
  @apply text-gray-80 !important;
}

.Icon {
  @apply text-base relative left-1 -top-[1px] -my-2;
}

.DividerText {
  @apply grow-0;
  @apply text-gray-70 uppercase tracking-widest leading-5;
  @apply mx-1;

  font-size: 0.625rem;
}

.DividerLine {
  @apply grow;
  @apply text-gray-30;
}

:global(.dark) .DividerLine {
  @apply text-gray-90;
}

.Circle {
  @apply absolute w-2 h-2 -left-4 rounded-full hidden;
}

.ActiveCircle {
  @apply block;
}

:global(.dark) .PageName:not(.ActivePage) {
  @apply text-gray-40 !important;
}

.ActivePage {
  @apply font-bold;
  @apply text-gray-90 !important;
}

.ActivePage ~ .Icon {
  @apply text-gray-90;
}

/* Colors for circles */
.GetStartedCircle {
  @apply bg-red-70;
}

.LibraryCircle {
  @apply bg-indigo-70;
}

.CloudCircle {
  @apply bg-lightBlue-70;
}

.KBCircle {
  @apply bg-orange-70;
}
