.breadcrumbs {
    list-style: none;
    display: inline-flex;
    width: 100%;
    margin-bottom: 1em;

    li {
        margin: 0;
        margin-left: .5em;

        &:first-child {
            margin: 0;
        }

        a {
            text-transform: capitalize;
            margin-right: .5em;
        }
    }
}
