.breadcrumbs {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1em;

  li {
    margin: 0;
    margin-right: 0.5em;

    &:last-child {
      margin: 0;
    }

    a {
      text-transform: none;
      margin-right: 0.5em;
    }
  }
}
