.toc {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    width: 226px;
    height: 100%;

    .top-gradient {
        background: linear-gradient(to bottom, white 0%, white 75%, rgba(255, 255, 255, 0) 100%);
        height: 1.5rem;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .toc-level {
        position: sticky;
        top: $header-height;
    }

    ol {
        margin: 0;
        padding: 0;
        list-style: none;
        max-height: calc(100vh - (6em * 2));
        overflow: auto;

        li {
            margin: 0;
            padding: 0;
            font-size: 12px;
            position: relative;
            background-color: transparent;
            padding: .25rem 0;

            &.toc-title {
                padding-top: 1.5rem;
                padding-left: 1.5rem;
                text-transform: uppercase;
                font-weight: 600;
                color: $gray-60;
                letter-spacing: 1px;
            }

            // Hide the first h1 on the TOC
            &:nth-child(2) {
                display: none;
            }
            
            &.level-H1, &.level-H2 {
                padding-left: 1.5rem;
            }
            
            &.level-H3 {
                padding-left: 2rem;
            }
            
            &.level-H4 {
                padding-left: 2.5rem;
            }
            
            &.level-H5 {
                padding-left: 3rem;
            }
            
            &.level-H6 {
                padding-left: 3.5rem;
            }
            
            &.active {
                a {
                    color: $gray-90;
                }
            }
            svg {
                display: block;
                content: '';
                position: absolute;
                top: 11px;
                left: 16px;
                width: 6px;
                height: 10px;
            }   
            a {
                display: inline-block;
                text-decoration: none;
                border: none;
                white-space: nowrap;
                line-height: 1;
                width: 164px;
                color: $gray-70;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                    border-bottom: none;
                    text-decoration: none;

                    &::after {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}