.toc {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    width: 226px;
    height: 100%;
    
    .toc-level {
        position: sticky;
        top: $header-height;
    }

    ol {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 0;
            padding: 0;
            font-size: 12px;
            line-height: 24px;
            position: relative;
            padding: 6px 36px 4px 36px;
            
            &:not(.active) {
                background-color: transparent;
            }
            &.active {
                border-radius: 5px;
                
                &.tutorials {
                    background: $violet-10;
                    svg {
                        path {
                            fill: $violet-70;
                        }
                    }
                }   
                
                &.topic-guides {
                    background: $l-blue-10;
                    svg {
                        path {
                            fill: $l-blue-70;
                        }
                    }
                }   

                &.reference-guides {
                    background: $orange-10;
                    svg {
                        path {
                            fill: $orange-70;
                        }
                    }
                }    

                &.support {
                    background: $red-10;
                    svg {
                        path {
                            fill: $red-70;
                        }
                    }
                }             
                &.updates,&.changelog {
                    background: $green-10;
                    svg {
                        path {
                            fill: $green-70;
                        }
                    }
                }             
            
            }
            svg {
                display: block;
                content: '';
                position: absolute;
                top: 11px;
                left: 16px;
                width: 6px;
                height: 10px;
            }   
            a {
                display: inline-block;
                text-decoration: none;
                border: none;
                white-space: nowrap;
                overflow: hidden;
                width: 164px;
                line-height: 1;
                text-overflow: ellipsis;
                &:hover {
                    border-bottom: none;
                    text-decoration: none;
                }
            }
        }
    }
    .level-H1 {
        a { font-weight: bold; }
    }
    .level-H2 {
        margin-top: 6px;
        a { font-weight: bold; }
    }
    .level-H2 + .level-H2 {
        margin-top: 0;
    }
    .level-H1 + .level-H2 {
        margin-top: 0;
    }
}