.toc {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    width: 226px;
    height: 100%;
    
    .toc-level {
        position: sticky;
        top: $header-height;
    }

    ol {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 0;
            padding: 0;
            font-size: 12px;
            line-height: 24px;
            position: relative;
            background-color: transparent;
            border-left: 1px solid $gray-20;
            padding: .25rem 1rem;
            
            &.level-H2, &.level-H3, &.level-H4, &.level-H5, &.level-H6 {
                padding: .25rem 1.75rem;
            }
            
            &.active {
                a {
                    color: $gray-90;
                }
            }
            svg {
                display: block;
                content: '';
                position: absolute;
                top: 11px;
                left: 16px;
                width: 6px;
                height: 10px;
            }   
            a {
                display: inline-block;
                text-decoration: none;
                border: none;
                white-space: nowrap;
                width: 164px;
                line-height: 1;
                text-overflow: ellipsis;
                color: $gray-70;
                overflow: hidden;

                &:hover {
                    border-bottom: none;
                    text-decoration: none;

                    &::after {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}