.gdpr-banner {
  position: fixed;
  bottom: 1.5em;
  width: 100%;
  z-index: 100;
  .container {
    background: #fffd;
    backdrop-filter: blur(10px);
    background: $red-70;
    padding: 1.5em 2em;
    border-radius: 5px;
    h3,
    p,
    a {
      color: $white;
    }
    p {
      margin: 0;
    }

    .footer {
      display: flex;
      flex-direction: row;
      margin-top: 1.5em;
      button {
        background-color: $white;
        color: $red-70;
        font-size: 0.85em;
        margin-right: 3em;
      }
    }
  }
}
