.block-forum-psa {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em 0;
    border-style: solid;
    border-width: 1px 0 1px 0;

    i {
        font-size:3em;
        margin-right: .5em;
        color: $red-70;
    }
}