.block-social-callouts {
        
    h2 {
        margin-bottom: .5em;
    }

    h5 {
        margin-bottom: 0;
    }
    
    .social-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2em;
        column-gap: 3em;
        margin: 0;
        
        @media (max-width:1024px) {
            grid-template-columns: 1fr;
        }

        .social {
            display: flex;
            align-items: center;
            margin-bottom: 0;

            a {
                display: flex;
                align-items: center;
                
                .icon-container {
                    padding: 1em;
                    margin-right: 1em;
                    margin-bottom: 0;
                    border-radius: $rounded-small;
                    line-height: 1;
                    
                    svg {
                        width: 2em;
                        height: 2em;
                        path {
                            fill:$white;
                        }
                    }
                }
            }

        }
        .you-tube {
            .icon-container {
                background: $you-tube;
            }
        }

        .twitter {
            .icon-container {
                background: $twitter;
            }
        }

        .git-hub {
            .icon-container {
                background: $git-hub;
            }
        }

        .discord {
            .icon-container {
                background: $discord;
            }
        }

        .instagram {
            .icon-container {
                background: $instagram-gradient;
                // background: #f09433;
                // background: linear-gradient(130deg, rgb(240, 148, 51) 0%, rgb(230, 104, 60) 25%, rgb(220, 39, 67) 50%, rgb(204, 35, 102) 75%, rgb(188, 24, 136) 100%)
            }
        }
    }
}