.suggestEdits {
    color: $gray-70;

    .buttons {
        display: flex;
        align-items: center;
        
        i {
            margin-right: .5rem;
        }
        
        a, i {
            color: inherit;
        }

        @media screen and (max-width: 767px) {
            margin-top: 1rem;
        }
    }
}