@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-x-hidden scroll-pt-12;
}

body {
  @apply scroll-m-12;
}

/* Styles for nested lists inside markdown */
ol,
ul {
  @apply m-0 pl-4 mt-4;
}

ol li,
ul li {
  @apply mb-4;
}

ol {
  @apply list-decimal;
}

ol ol {
  list-style-type: lower-roman;
}

ul {
  @apply list-disc;
}

ul ul {
  @apply list-disc;
}

ul ul ul {
  list-style: circle;
}

ul ul ul ul {
  @apply list-disc;
}

ul ul ul ul ul {
  list-style: circle;
}

/* Styles for markdown tables */
#content-container table {
  @apply w-full border-collapse;
}

#content-container table tr th,
#content-container table tr td {
  @apply border-t border-t-gray-20 py-3 text-xs leading-loose tracking-normal text-gray-90;
}

#content-container table tr th a,
#content-container table tr td a {
  @apply underline hover:no-underline;
}

/* Utility to hide text that only is needed in screen readers */
.sr-only {
  @apply absolute top-px h-px p-0 -m-px overflow-hidden whitespace-nowrap border-none;
  clip: rect(0, 0, 0, 0);
}
