@supports (scrollbar-color: #000 #111) {
  * {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  :hover {
    scrollbar-color: theme("colors.gray.40") transparent;
  }

  .dark:hover,
  .dark :hover {
    scrollbar-color: theme("colors.gray.70") transparent;
  }
}

@supports not (scrollbar-color: #000 #111) {
  ::-webkit-scrollbar {
    @apply h-2 w-2 bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full;
  }

  :hover::-webkit-scrollbar-thumb {
    @apply bg-gray-50 bg-opacity-70;
  }

  ::-webkit-scrollbar-thumb:hover,
  :hover::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-50 bg-opacity-100;
  }

  ::-webkit-scrollbar-thumb:active,
  :hover::-webkit-scrollbar-thumb:active {
    @apply bg-gray-70 bg-opacity-100;
  }
}
