/* Size modifiers */

h1 {
  @apply text-5xl;
}

h2 {
  @apply lg:text-4xl text-2xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

/* Styles for headings inside markdown */
h1,
h2 {
  @apply font-bold leading-tight tracking-tight mb-5;
}

h2,
h4,
h5,
h6 {
  @apply mt-12;
  @apply leading-normal;
}

h3 {
  @apply mt-8;
}

/* Dark mode modifiers */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply dark:text-gray-40;
}

/* Margin modifiers */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  @apply mt-0;
}

/* Styles for text inside markdown */
p,
li,
a {
  @apply leading-relaxed tracking-tight;
}

p {
  @apply mb-4 text-gray-90 break-words dark:text-gray-40;
}

summary {
  @apply mb-4 text-gray-90 dark:text-gray-40;
}

sup a {
  @apply underline hover:no-underline dark:text-gray-40;
}

p:last-child,
li p:only-child {
  @apply mb-0;
}

.code {
  @apply font-mono font-normal break-words;
}

.bold,
strong {
  @apply font-bold dark:font-extrabold;
}

ol + p,
ul + p {
  @apply mt-8;
}

/* Focus styles */
a:focus,
a:focus-visible,
button:focus,
button:focus-visible {
  @apply outline-2 outline-gray-40;
}

/* Inline code blocks */
p code, li>code, li>a>code,
/* Inline code blocks in docstrings */
tt.docutils.literal {
  @apply break-words px-1 rounded;
  @apply text-green-80 bg-green-80/5;
  @apply dark:text-green-50 dark:bg-green-50/10;
  @apply text-base;
  line-height: inherit;
}

/* One-line code descriptions in docstrings */
div.code-desc {
  @apply mb-4 text-gray-90 dark:text-gray-40;
}
