// Transitions
$slow: none;
$normal: none;
$fast: none;
// Helpful naming
$header-height: 6em;
$mini-header-height: calc(#{$header-height} / 2);
$rounded-small: .3rem;
$rounded-circle: 50%;
$siderbar-full-width: 346px;
$siderbar-min-width: 144px;

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}