.Container {
  @apply mt-6;
}

.HeaderContainer {
  @apply mb-6;
}

.Title {
  @apply mt-6 mb-2;
}

.CodeBlockContainer {
  @apply mb-7 relative;
}

.CodeBlockContainer pre,
.CodeBlockContainer code {
  @apply overflow-auto max-w-full whitespace-pre;
}

.CodeBlockContainer pre {
  @apply p-4 bg-gray-90 text-white font-medium rounded-xl relative py-6 px-8 leading-relaxed;
}

.CodeBlockContainer pre code {
  @apply z-10 relative;
}

.LineHighlight {
  @apply bg-gray-80 opacity-30 z-0;
}

.CodeBlockContainer button {
  @apply absolute top-2 right-2 cursor-pointer h-8 w-8 mb-0 flex items-center;
}

.CodeBlockContainer button::before {
  @apply absolute top-2 right-2 z-10 transition-all duration-75 hover:opacity-40;
  content: url("/clipboard.svg");
}

.CodeBlockContainer button span {
  @apply absolute right-10 text-white font-mono text-sm tracking-tight font-normal opacity-0;
}

.CodeBlockContainer button:hover span {
  @apply opacity-100;
}

/* Code block adjustments */
.CodeBlockContainer pre code :global(.decorator.annotation.punctuation) {
  @apply text-red-50;
}

.CodeBlockContainer pre code :global(.operator) {
  @apply text-yellow-50;
}

.CodeBlockContainer pre code :global(.decorator) {
  @apply text-yellow-80;
}

.CodeBlockContainer pre code :global(.keyword) {
  @apply text-darkBlue-50;
}

.CodeBlockContainer pre code :global(.builtin) {
  @apply text-lightBlue-40;
}

.CodeBlockContainer pre code :global(.string) {
  @apply text-green-80;
}

.CodeBlockContainer pre code :global(.number),
.CodeBlockContainer pre code :global(.boolean) {
  @apply text-green-40;
}

.CodeBlockContainer pre code :global(.function) {
  @apply text-red-50;
}

.CodeBlockContainer pre code :global(.punctuation) {
  @apply text-gray-60;
}

.CodeBlockContainer pre code :global(.comment) {
  @apply text-gray-60 italic font-normal;
}

.CodeBlockContainer pre code :global(.string) {
  @apply text-darkBlue-30;
}

.CodeBlockContainer pre code :global(.table) {
  @apply inline;
}

/* Styles for deprecation notice in param */
.DeprecatedContent {
  @apply bg-orange-20 text-gray-90 px-2 py-1 rounded-md text-sm mb-2 flex items-center relative;
}

.DeprecatedContent i {
  @apply text-base text-orange-70 mr-2;
}

.DeprecatedContent p {
  @apply ml-5;
}

.DeprecatedContent p tt {
  @apply text-sm;
}

.DeprecatedIcon {
  @apply absolute top-0 left-2;
}

:global(.dark) .DeprecatedContent {
  @apply bg-orange-100/30;
}

.Keyword::after {
  @apply block bg-gray-20 text-gray-80 text-opacity-100 text-2xs rounded-lg w-fit px-2 py-0;
  content: "keyword-only";
}

:global(.dark) .Keyword::after {
  @apply bg-gray-80 text-gray-30;
}
