.Container {
  @apply p-4 md:p-8 rounded-md mt-8 mb-12;
}

.Container p {
  @apply text-base leading-relaxed tracking-tight;
  @apply text-gray-90 !important;
}

.Container p > code {
  @apply border border-gray-40 text-red-70 rounded-md px-1 mx-1 break-words;
}

.Container p:only-child,
.Container p:last-child,
.Container section:last-child,
.Container section:last-child pre {
  @apply mb-0;
}

:global(.dark) .Container p {
  @apply text-white !important;
}
