.Container {
  @apply w-full my-7 mx-auto overflow-x-auto bg-gray-90 rounded-xl;

  @apply relative !important;
}

/* Keep in sync with components/blocks/autofunction.module.css */
.Header {
  @apply flex items-center gap-2
    min-h-10 px-3
    border-b border-gray-80
    text-gray-50 text-xs font-medium tracking-wide;
}

/* Keep in sync with components/blocks/autofunction.module.css */
.Language {
  @apply uppercase tracking-wider;
}

.Filename {
  @apply font-mono tracking-wider;
}

/* Keep in sync with components/blocks/autofunction.module.css */
.Pre {
  @apply p-6 text-white font-medium relative leading-relaxed;
}

/* Keep in sync with components/blocks/autofunction.module.css */
.Pre,
.Container code {
  @apply overflow-auto max-w-full whitespace-pre;
}

/* Keep in sync with components/blocks/autofunction.module.css */
.Pre code {
  @apply z-10 relative;
}

/* Keep in sync with components/blocks/autofunction.module.css */
.LineHighlight {
  @apply bg-gray-80 opacity-30 z-0;
}

/* Keep in sync with components/blocks/autofunction.module.css */
.Container :global(.toolbar) {
  @apply absolute top-0 right-0
    flex items-center justify-end
    px-3 h-10
    text-gray-80 text-xs font-medium tracking-wide;
}

/* Keep in sync with components/blocks/autofunction.module.css */
.Container :global(.toolbar-item) {
  @apply flex items-center justify-end;
}

/* Keep in sync with components/blocks/autofunction.module.css */
.Container button {
  @apply flex flex-row gap-1
    h-full
    text-xs leading-none
    text-gray-50 hover:text-white;
}

/* Keep in sync with components/blocks/autofunction.module.css */
.Container button span {
  @apply flex items-center justify-start
    tracking-wide font-medium;
}

.Container button i {
  @apply flex text-xs leading-none;
}

.TryMeButton {
  @apply px-2 py-1 rounded-md
    border border-gray-80 hover:border-white;
}

/* Keep in sync with components/blocks/autofunction.module.css */
.Container :global(.copy-to-clipboard-button) {
  &::after {
    @apply block text-gray-50 hover:text-white h-3 w-3 cursor-pointer;
    content: "";
    background-color: currentColor;
    -webkit-mask-image: url("/clipboard.svg");
    mask-image: url("/clipboard.svg");
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
  }

  & span {
    @apply text-white
      opacity-0 translate-x-2 transition-transform
      pointer-events-none;
  }

  &:hover span {
    @apply opacity-100 translate-x-0;
  }
}

.NoCopyButton :global(.copy-to-clipboard-button) {
  @apply hidden;
}

.TryMeButton {
  @apply h-3 flex flex-row gap-1;
}

:global(.refcard) .Container {
  @apply rounded-none bg-transparent;
}

:global(.refcard) .Container .Pre {
  @apply p-0 text-gray-80;
}

:global(.refcard) .Container code {
  @apply h-full p-4;
}

:global(.refcard) .Container :global(.code-toolbar) {
  @apply px-0 py-0;
}

/* Syntax highlighting is now handled globally via styles/syntax-highlighting.scss */
