.SectionContainer {
  @apply relative;
}

/* Styles to align the slider with the API reference grid above and below */
.Container :global(.slick-slide) {
  @apply px-2;
}

.Container :global(.slick-list) {
  @apply -mx-2;
}

/* Hover styles for cards. Need to be done here to prevent the card overflow */
.Container :global(.slick-slide) div {
  @apply transition-all duration-75 z-10;
}

.Container :global(.slick-slide) div:hover {
  transform: scale(1.05);
}

/* Title and tooltip styles */
.TitleContainer {
  @apply flex items-center text-lg;
}

.Title {
  @apply mb-0;
}

.TooltipIcon {
  @apply fill-gray-60 ml-2 relative top-px transition ease-in-out duration-100 hover:opacity-80;
}

.TooltipIcon svg {
  fill: inherit;
}

/* Slider arrow styles */
.ArrowsContainer {
  @apply flex list-none m-0 ml-auto;
}

.ArrowsContainer li {
  @apply m-0 ml-2;
}

.ArrowsContainer li button {
  @apply transition ease-in-out duration-100 hover:text-gray-50 text-gray-60;
}

/* Gradients */
.Container::before {
  content: "";

  @apply absolute -left-4 top-0 w-8 h-full z-10 bg-gradient-to-r from-white;
}

.Container::after {
  content: "";

  @apply absolute -right-4 top-0 w-8 h-full bg-gradient-to-l from-white z-10;
}

:global(.dark) .Container::before,
:global(.dark) .Container::after {
  @apply from-gray-100 w-12;
}
