.SectionContainer {
  @apply relative;
}

.Container :global(.slick-slide) {
  @apply px-2;
}

.Container :global(.slick-list) {
  @apply -mx-2;
}

.TitleContainer {
  @apply mb-2 flex items-center text-lg;
}

.Title {
  @apply mb-0;
}

.TooltipIcon {
  @apply fill-gray-60 ml-2 relative top-px transition ease-in-out duration-100 hover:opacity-80;
}

.TooltipIcon svg {
  fill: inherit;
}

.ArrowsContainer {
  @apply flex list-none m-0 ml-auto;
}

.ArrowsContainer li {
  @apply m-0 ml-2;
}

.ArrowsContainer li button {
  @apply transition ease-in-out duration-100 hover:text-gray-50 text-gray-60;
}

/* Gradients */
/* .Container::before {
  content: "";

  @apply absolute left-0 top-0 w-32 h-full z-10 bg-gradient-to-r from-white;
}

.Container::after {
  content: "";

  @apply absolute right-0 top-0 w-32 h-full bg-gradient-to-l from-white;
}

:global(.dark) .Container::before, :global(.dark) .Container::after {
  @apply from-gray-100 w-12;
} */

/* Arrows */
/* .Container button:global(.slick-prev) {
  @apply left-0 z-10;
}

.Container button:global(.slick-next) {
  @apply right-0 z-10;
}

.Container button:global(.slick-prev)::before,
.Container button:global(.slick-next)::before {
  font-family: "Inter", "slick", sans-serif;

  @apply text-gray-90 opacity-100;
}

:global(.dark) .Container button:global(.slick-prev)::before,
:global(.dark) .Container button:global(.slick-next)::before {
  @apply text-white;
} */
