.SectionContainer {
  @apply relative;
}

/* Styles to align the slider with the API reference grid above and below */
.Container :global(.slick-slide) {
  @apply px-2;
}

.Container :global(.slick-list) {
  @apply -mx-2;
}

/* Hover styles for cards. Need to be done here to prevent the card overflow */
.Container :global(.slick-slide) > div {
  @apply transition-all duration-75 z-10;
}

.Container :global(.slick-slide) > div:hover {
  transform: scale(1.05);
}

/* Title styles */
.TitleContainer {
  @apply flex items-center justify-between text-lg;
}

.Title {
  @apply flex items-center relative;
}

.Text {
  @apply mb-0;
}

/* Tooltip styles */
.TooltipIcon {
  @apply fill-gray-60 ml-2;
}

.TooltipIcon svg {
  @apply transition ease-in-out duration-100 hover:opacity-80;

  fill: inherit;
}

.Tooltip {
  @apply p-3 bg-gray-90 absolute rounded-md transition delay-100 ease-in-out opacity-0 w-full w-64 z-10;
  bottom: 100%;
}

.TooltipArrow {
  @apply h-3 w-3 p-0 absolute opacity-0 -bottom-[2px] right-9 transition ease-in-out delay-100 bg-gray-90 z-10;
}

.Open {
  @apply opacity-100;
}

.TooltipText {
  @apply text-xs text-white m-0 leading-normal tracking-normal;
}

.TooltipText a {
  @apply underline border-none leading-normal;
}

:global(.dark) .Tooltip,
:global(.dark) .TooltipArrow {
  @apply bg-gray-80;
}

/* Override default hover styles */
.TooltipText a:hover {
  @apply no-underline border-none;

  opacity: 1 !important;
}

/* Slider arrow styles */
.ArrowsContainer {
  @apply flex list-none m-0;
}

.ArrowsContainer li {
  @apply m-0 ml-2;
}

.ArrowsContainer li button {
  @apply transition ease-in-out duration-100 hover:text-gray-50 text-gray-60;
}

/* Hide the default arrows */
.Container :global(.slick-arrow) {
  display: none !important;
}
