.Container {
  @apply inline-block my-4 md:my-8;
}

.InnerContainer {
  @apply md:p-8 rounded-md md:bg-gray-20;
}

:global(.dark) .InnerContainer {
  @apply md:bg-gray-90;
}

.Image {
  @apply max-w-full max-h-screen transition duration-100 ease-in-out hover:opacity-80 cursor-pointer;
}

.ImageBorder {
  @apply border-solid border border-gray-90;
}

:global(.dark) .ImageBorder {
  @apply border-gray-20;
}

.Caption {
  @apply italic text-gray-90 pt-2 md:pt-4 text-sm tracking-tight;
}

:global(.dark) .Caption {
  @apply text-gray-40;
}

.LightBox {
  @apply fixed z-30 top-0 left-0 w-full h-full flex justify-center items-center overscroll-contain bg-gray-20;
}

:global(.dark) .LightBox {
  @apply bg-gray-90;
}

.ImageContainer {
  @apply w-11/12 md:w-11/12 2xl:w-7/12 flex flex-col;
}

.ModalImage {
  @apply h-screen object-contain py-4;
}

.CloseButton {
  font-family: "Material Icons";
  @apply font-normal text-5xl absolute right-0 md:right-8 top-12 cursor-pointer bg-gray-20 z-20 text-gray-90 hover:shadow-none hover:opacity-60 mb-0 px-2 lg:p-4;
}

:global(.dark) .CloseButton {
  @apply bg-gray-90 text-gray-40;
}
