.Container {
  @apply mb-4 pb-4 border-b border-b-gray-30;
}

.Date {
  @apply text-xs tracking-tight;
  @apply text-gray-70 !important;
}

.Title {
  @apply my-2 font-bold text-lg;
  @apply text-gray-90 !important;
}

.Container img {
  @apply mr-[16px] h-[136px];
}

:global(.dark) .Title,
:global(.dark) .Text {
  @apply text-white !important;
}

.Text {
  @apply text-sm tracking-tight leading-normal;
  @apply text-gray-90 !important;
}

:global(.dark) .Container {
  @apply border-b-gray-90;
}
