.Container {
  @apply rounded-md border border-gray-30 overflow-hidden text-base cursor-pointer transition-all duration-75 flex flex-col;
}

.Container:hover {
  transform: scale(1.05);
}

.Container h1,
.Container h2,
.Container h3,
.Container h4,
.Container h5,
.Container h6,
.Container p,
.Container a {
  @apply my-0 mx-4 p-0 font-bold;
  @apply text-gray-90 !important;
}

.Container ul {
  @apply mx-8 mb-2;
}

.Container ul li {
  @apply mb-2;
}

.Container ul li a {
  @apply mx-0;
}

.Container h1,
.Container h2,
.Container h3,
.Container h4,
.Container h5,
.Container h6 {
  @apply mt-4;
}

.Container p:last-child {
  @apply mb-4;
}

.Container i {
  @apply p-4 pb-0 text-gray-90;
}

:global(.dark) .Container {
  @apply border-gray-90;
}

:global(.dark) .Container i {
  @apply text-white;
}

:global(.dark) .Container h1,
:global(.dark) .Container h2,
:global(.dark) .Container h3,
:global(.dark) .Container h4,
:global(.dark) .Container h5,
:global(.dark) .Container h6,
:global(.dark) .Container p,
:global(.dark) .Container a {
  @apply text-white !important;
}

:global(.dark) .Container section div pre {
  @apply bg-gray-90 text-white;
}

:global(.dark) .Container img {
  @apply border-b-gray-90;
}

:global(.dark) .Container section {
  @apply border-t-gray-90;
}

.Container img {
  @apply w-full h-48 object-cover border-b border-b-gray-30;
}

.Container p,
.Container a {
  @apply text-sm font-normal tracking-tight leading-relaxed;
}

.Container p a {
  @apply mx-0;
}

.Container h1 a,
.Container h2 a,
.Container h3 a,
.Container h4 a,
.Container h5 a,
.Container h6 a {
  @apply hidden;
}

/* Code block */
.Container section {
  @apply relative w-full mt-4 mb-0 text-sm flex flex-col flex-1 border-t border-t-gray-30;
}

.Container section button {
  @apply hidden;
}

.Container section div {
  @apply flex flex-col flex-1;
}

.Container section div pre {
  @apply m-0 rounded-none p-4 h-full text-sm tracking-tight;
  @apply bg-gray-10;
  @apply text-gray-80;
}

/* Code block adjustments */
.Container section div pre code :global(.operator) {
  @apply text-yellow-90;
}

.Container section div pre code :global(.decorator) {
  @apply text-yellow-100;
}

.Container section div pre code :global(.keyword) {
  @apply text-darkBlue-70;
}

.Container section div pre code :global(.builtin) {
  @apply text-lightBlue-80;
}

.Container section div pre code :global(.string) {
  @apply text-green-80;
}

.Container section div pre code :global(.number) {
  @apply text-red-90;
}

.Container section div pre code :global(.function) {
  @apply text-red-60;
}

.Container section div pre code :global(.comment),
.Container section div pre code :global(.punctuation) {
  @apply text-gray-60;
}

/* Size modifiers */
.Full {
  @apply col-span-full;
}

.Half {
  @apply col-span-full sm:col-span-3;
}

.TwoThirds {
  @apply col-span-full md:col-span-3 lg:col-span-4;
}

.Third {
  @apply col-span-full md:col-span-3 lg:col-span-2;
}
