.IframeContainer {
  @apply relative w-full border border-gray-40 rounded-md;
}

.Iframe {
  @apply w-full aspect-video rounded-md max-w-full border-none inline-block;
}

.CaptionContainer {
  @apply mt-4;
}

.Caption {
  @apply italic text-gray-90 pt-2 md:pt-4 text-sm tracking-tight;
}

:global(.dark) .Caption {
  @apply text-white;
}
